<div class="container">
  <div *ngFor="let indicator of indicators; let id = index">
    <div
      *ngIf="indicator.show"
      class="card"
      [ngClass]="{
        online: indicator.status,
        offline: !indicator.status
      }"
    >
      <h2>Id: {{ id }}</h2>
      <p>{{indicator.name}}</p>
      <button (click)="indicator.show = false">Удалить</button>
    </div>
  </div>
</div>
<div class="form-group">
    <label>Название датчика:
    <input type="text" class='form-control' #someInput>
    </label>
    <button (click)="createInd(someInput.value)">Добавить</button>
</div>
